.space {
  height: 100%;
  background-color: bisque;
  display: grid;
  grid-template-rows: max-content 1fr;
  h1 {
    margin-left: 1rem;
  }
}

.cards-container {
  display: grid;
  grid-auto-columns: minmax(250px, 1fr);
  grid-auto-flow: column;
  overflow-x: auto;
  height: 85%; /* Must have a constrained height */
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: brown;
  border: 1px solid black;
  margin-left: 1rem;
}

.cards {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  height: 80%;
  row-gap: 1rem;
  overflow-y: auto;

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

.cards::-webkit-scrollbar {
  display: none;
}

.todo-item {
  background-color: aqua;
  border: 1px solid black;
}
