.logo {
  height: 2rem;
}

.side-bar {
  background-color: var(--sidebar-bg-color);
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: max-content max-content 1fr;
}

.header {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  align-self: center;
  gap: 1rem;
}
