* {
  font-family: "Funnel Sans";
}

.app-container {
  border: 1px solid black;

  height: 100dvh;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 4fr max-content;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  background-color: aqua;
}
